
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3


venv/
.venv/
env/
ENV/


.env
*.env
*secrets*
*key*
*token*
*credentials*


*.bin
*.model
*.ckpt
*.pt
*.safetensors
*.h5


.vscode/
.idea/


build/
dist/
*.egg-info/
__pycache__/
*.spec


.ipynb_checkpoints/


*.log
logs/


Thumbs.db
.DS_Store

~$*
